.page {
    overflow: hidden;
}

.v-datalist-container {
    height: 100%;
}

.v-canvas-container {
    width: 100%;
    height: 100%;
    min-height: 900px;
    border: none;
}

#finalx, #finaly, #finalz {
    display: inline;
}

.v-slider-full {
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.input-form {
    display: none;
    color: black;
}

.add {
    font-size: 0.90rem;
}

.left {
    order: 1;
}

.exp {
    order: 2;
}

.right {
    order: 3;
}

@media screen and (max-width: 1023px) {
    .left {
        order: 1;
    }
    .right {
        order: 2;
    }
    .exp {
        order: 3;
    }
}

#top-border {
    border-top: 1px solid black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cs-modal {
    position: static;
    margin: 0px;
}

#add-modal {
    width: 50%;
    margin: auto;
}

#edit-modal {
    width: 50%;
    margin: auto;
}

.slidecontainer {
    width: 80%;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.v-datalist-title {
    border-bottom: 0;
}

.v-collapsible-instruction-container {
    width: 60%;
    margin: auto;
    border-radius: 0.25rem;
}

.v-collapsible {
    width: 98%;
    margin: auto;
}

.v-collapsible::after {
    size: 1rem;
}

.v-checkbox {
    margin-bottom: 0.1rem;
}

.input {
    margin-bottom: 0.5rem;
}

.v-button {
    background-color: #04AA6D;
    border-radius: 0.5rem;
    font-size: small;
}

#add-shape-btn {
    background-color: #3298dc;
    border-radius: 0.5rem;
}

#edit-shape-btn {
    background-color: #48c774;
    border-radius: 0.5rem;
}

#delete-shape-btn {
    background-color: #f14668;
    border-radius: 0.5rem;
}