.page {
    overflow-x: hidden;
}

.v-datalist-container {
    height: 100%;
}

.v-datalist-row{
    margin-top: 2rem;
}

.v-instruction-container {
    width: 80%;
    margin: 0 auto;
}

.v-canvas-container {
    width: 100%;
    height: 100%;
    min-height: 900px;
    border :0;
}

.v-slider-full {
    width: 80%;
    margin: auto;
    padding: 1rem;
}


.input-form {
    display: none;
    color: black;
}

.add {
    font-size: 0.90rem;
}

.left {
    order: 1;
}

.exp {
    order: 2;
}

.right {
    order: 3;
}

@media screen and (max-width: 1023px) {
    .left {
        order: 1;
    }
    .right {
        order: 2;
    }
    .exp {
        order: 3;
    }
    .v-datalist-row {
        margin: 1rem;
    }
}

#top-border {
    border-top: 0.1px dashed black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cs-modal {
    position: static;
    margin: 0px;
}

#add-modal {
    /* width: auto; */
    width: 50%;
}

#edit-modal {
    /* width: auto; */
    width: 50%;
}

.slidecontainer {
    width: 80%;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.v-datalist-title {
    /* background-color: #2C9AD1; */
    /* background-blend-mode: overlay; */
    /* border-radius: 1rem; */
    border-bottom: 0;
}


.v-collapsible-instruction-container {
    width: 60%;
    margin: auto;
    border-radius: 0.25rem;
}

.v-collapsible {
    width: 98%;
    margin: auto;
}

.v-collapsible::after {
    size: 1rem;
}

#lock-v #xy-grid #xz-grid #yz-grid {
    margin: auto 0.1rem;
    padding: auto 0.1rem;
}

#checkboxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

#checkboxes label {
    margin: 0.3rem auto;

    display: flex;
    align-items: flex-start;
    flex: 40%;
}

.v-button {
    background-color: #04AA6D;
    border-radius: 0.5rem;
    font-size: small;
}

#add-shape-btn {
    background-color: #3298dc;
    border-radius: 0.5rem;
}

#edit-shape-btn {
    background-color: #48c774;
    border-radius: 0.5rem;
}

#delete-shape-btn {
    background-color: #f14668;
    border-radius: 0.5rem;
}

#move-button {
    background-color: #48c774;
    border-radius: 0.5rem;
}

#set-rotation-axis {
    background-color: #3298dc;
    border-radius: 0.5rem;
}
